.contacto {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 200%; 
}

.titulo {
  color: rgba(248, 95, 24, 0.986);
  text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
  font-size: 75px;
  font-weight: 800;
  margin-top: 25px;
}

.info {
  color: floralwhite;
  text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
  font-size: 30px;
  font-weight: 700;
  margin-top: 25px;
}

/* styles.css */

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario label {
  width: 100%;
  margin-bottom: 15px;
  font-weight: bold;
  color: #333;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.formulario textarea {
  height: 100px;
  resize: vertical;
}

.formulario button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.formulario button:hover {
  background-color: #0056b3;
}

/* Media queries para móviles */
@media (max-width: 600px) {
  .formulario {
      padding: 15px;
  }

  .formulario label,
  .formulario input[type="text"],
  .formulario input[type="email"],
  .formulario textarea,
  .formulario button {
      max-width: 100%;
  }
}


/* Contacto.css */

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 0.5em;
}
