.Nosotros {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 200%; 
}
  
.imagen-container {
    
  max-width: 10%;
  height: auto; 
  display: block; 
  margin: 15px 15px 0px 30px; 
  float: left;
  
}