.Nosotros {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 200%;
  padding: 0 10px; /* Añade un padding para que el contenido no toque los bordes en pantallas pequeñas */
}

.titulo-nosotros {
  color: floralwhite;
  text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
  font-size: 75px;
  font-weight: 800;
  margin-top: 5px;
  text-align: center; /* Centra el texto */
}

.imagen-container {
  max-width: 50px;
}

.servicio-contenedor p {
  font-size: 25px;
  text-align: center; /* Centra el texto */
}

.imagen-servicio {
  max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
  margin-bottom: 20px;
}

.imagen-servicio:hover {
  cursor: crosshair;
  width: 450px;
  opacity: 1;
  filter: contrast(100%);
  flex-grow: 1;
  object-fit: cover;
}

.contenedor-imagenes {
  display: flex;
  flex-direction: column; /* Alinea las imágenes verticalmente por defecto */
  align-items: center;
  max-width: 1000px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .Nosotros {
    font-size: 150%; /* Reduce el tamaño de la fuente */
  }

  .titulo-nosotros {
    font-size: 50px; /* Reduce el tamaño de la fuente del título */
  }

  .servicio-contenedor p {
    font-size: 20px; /* Reduce el tamaño de la fuente del párrafo */
  }

  .imagen-servicio {
    max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
    width: auto;
  }
}

@media (max-width: 480px) {
  .Nosotros {
    font-size: 100%; /* Reduce el tamaño de la fuente */
  }

  .titulo-nosotros {
    font-size: 40px; /* Reduce el tamaño de la fuente del título */
  }

  .servicio-contenedor p {
    font-size: 18px; /* Reduce el tamaño de la fuente del párrafo */
  }

  .imagen-servicio {
    width: 100%; /* Asegura que la imagen se ajuste al 100% del contenedor en pantallas muy pequeñas */
  }
}
