/* Estilos generales */
.wrapper {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 200%; 
}
.titulowrapper {
    text-align: center;
    color: rgb(253, 252, 252);
    text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
    font-size: 40px;
    font-weight: bold;
}
.grilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.filtro {
    color: rgb(255, 254, 254);
    text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
    font-size: 100%;
    font-weight: bold;
}

/* Media queries para resoluciones de teléfonos móviles */
@media (max-width: 768px) {
    .wrapper {
        font-size: 150%;
    }
    .titulowrapper {
        font-size: 50px;
    }
    .grilla {
        grid-template-columns: repeat(2, 1fr);
    }
    .filtro {
        font-size: 150%;
    }
}

@media (max-width: 480px) {
    .wrapper {
        font-size: 100%;
    }
    .titulowrapper {
        font-size: 25px;
    }
    .grilla {
        grid-template-columns: 1fr;
    }
    .filtro {
        font-size: 80%;
    }
}


