.grillas {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #f4f4f4;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: auto;
}

.imagen-producto-venta {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  transition: filter 0.3s ease;
}
