.nav {
    max-width: 100%;
    margin: 10px 10px 10px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
    position: relative;
    border-radius: 1rem;
}

.nav-lista {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    text-align: justify;
    font-size: 100%;
}

.nav-item {
    flex-grow: 1;
    padding: 5px 0;
    text-align: center;
    color:rgba(255, 255, 255, 0.986) ;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    font-size: 51px;
}

.nav-item a {
    font-size: 100%;
    text-decoration: none;
    color: rgba(190, 188, 186, 0.986);
}

.nav-item a:hover {
    text-decoration: underline;
}

.nav-item img {
    max-width: 80px;
    height: auto;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .nav-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 40px;
        color: rgba(248, 95, 24, 0.986);
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .nav-lista {
        flex-direction: column;
        align-items: center;
        display: none; /* Ocultar el menú por defecto */
        width: 100%;
    }

    .nav-lista.open {
        display: flex; /* Mostrar el menú cuando esté abierto */
    }

    .nav-item {
        font-size: 250%; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
        padding: 10px 0;
    }

    .nav-item img {
        max-width: 50px; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
    }
}
