.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre las tarjetas */
    max-width: 300%;
    margin: 20px auto;
    padding: 2rem;
}

.card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px; /* Ancho fijo para tarjetas */
    max-width: 100%;
    margin: 5px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .card-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%; /* Ajusta el ancho de las tarjetas en pantallas pequeñas */
    }
}
